@font-face {
  font-family: Karla;
  src: url("../fonts/Karla/static/Karla-Regular.ttf");
}

*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ! ---------- General Styles ---------- */

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
  font-family: Karla, Arial, Helvetica, sans-serif;
}

main {
  margin: 2.5rem auto;
  max-width: 1320px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

p {
  font-size: 1rem;
  color: #848484;
}

/* ! ---------- Header Style ---------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  margin: 2.5rem auto;
  font-size: 1rem;
  color: #323a45;
  text-transform: uppercase;
  padding: 0 2.5rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

/* ! ---------- Card Style ---------- */

.description {
  display: flex;
  justify-content: space-between;
  height: 2.75rem;
  margin: 1.25rem 0;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.hover {
  display: none;
}

/* ! ---------- Grid Style ---------- */

.shop {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  align-content: start;
  justify-content: center;
  align-items: start;
  padding: 0 2.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  height: fit-content;
  justify-self: center;
}

/* - ---------- großes bild #1 ---------- */
.card:nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100%;
}

/* - ---------- großes bild #2 ---------- */
.card:nth-child(8) {
  grid-column: 1/4;
  grid-row: 4/5;
}

/* - ---------- großes bild #3 ---------- */
.card:nth-child(15) {
  grid-column: 1/4;
  grid-row: 7/8;
}

/* - ---------- großes bild #4 ---------- */
.card:nth-child(22) {
  grid-column: 1/4;
  grid-row: 10/11;
}

/* - ---------- großes bild #5 ---------- */
.card:nth-child(29) {
  grid-column: 1/4;
  grid-row: 13/14;
}

/* ! ---------- Footer Style ----------*/

.footer-flex {
  display: flex;
  flex-direction: column;
  margin: 2.5rem auto;
  padding: 0 2.5rem;
}

.info-section {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  height: 8rem;
  margin-bottom: 6rem;
}

footer h3 {
  margin-bottom: 3rem;
}

footer a {
  color: #323a45;
  display: block;
  font-size: 1rem;
}

footer p {
  color: #000;
  font-size: 1.2rem;
  margin-right: 2rem;
  line-height: 2rem;
}

.copyright p {
  color: #848484;
}

.info,
.newsletter p {
  padding-right: 5rem;
}

span {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
