@font-face {
  font-family: Karla;
  src: url("../fonts/Karla/static/Karla-Regular.ttf");
}
*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* !General Styles */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: Karla, Arial, Helvetica, sans-serif;
}

main {
  padding: 2.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

/* !Header Style */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  padding: 2.5rem;
  font-size: 1rem;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

h2,
p {
  font-size: 1rem;
  font-weight: 400;
}

p {
  color: #848484;
}

/* !Card Style */

.card {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  justify-content: space-between;
  height: 2.75rem;
  padding: 1.25rem 0;
}

.hover {
  display: none;
}

/* !Grid Style */

/* !Footer Style */
